{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h2 class="fw-bold text-white py-3 rounded" style="background-color: #5f788a;">
            📅 My Calendar
        </h2>
    </div>

    <div class="card shadow-lg border-0">
        <div class="card-body p-4">
            <div class="table-responsive">
                <table class="table table-bordered text-center align-middle">
                    <thead class="table-success border-3"></thead>
                        <tr>
                            <th class="p-3">Sun</th>
                            <th class="p-3">Mon</th>
                            <th class="p-3">Tue</th>
                            <th class="p-3">Wed</th>
                            <th class="p-3">Thu</th>
                            <th class="p-3">Fri</th>
                            <th class="p-3">Sat</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ calendar|safe }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
